body {
    margin-left: 1rem;
}

input {
	/* width: 100%; */
	padding: 3px 5px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

label {
    font-weight: 100
}